:root {
    --font-family: "Spartan", sans-serif;
    --main-background: hsl(222, 26%, 31%);
    --toggle-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    --key-bg-toggle-func: hsl(225, 21%, 49%);
    --key-shadow-func: hsl(224, 28%, 35%);
    --key-bg-toggle-equal: hsl(6, 63%, 50%);
    --key-shadow-equal: hsl(6, 70%, 34%);
    --key-bg-toggle-normal: hsl(30, 25%, 89%);
    --key-shadow-normal: hsl(28, 16%, 65%);
    --text: hsl(221, 14%, 31%);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}

/* Grid */
.grid {
    display: grid;
}
.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.col-auto {
    grid-column: auto;
}
.col-span-1 {
    grid-column: span 1 / span 1;
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
.col-span-3 {
    grid-column: span 3 / span 3;
}
.col-span-4 {
    grid-column: span 4 / span 4;
}
.col-span-5 {
    grid-column: span 5 / span 5;
}
.col-span-6 {
    grid-column: span 6 / span 6;
}
.col-span-7 {
    grid-column: span 7 / span 7;
}
.col-span-8 {
    grid-column: span 8 / span 8;
}
.col-span-9 {
    grid-column: span 9 / span 9;
}
.col-span-10 {
    grid-column: span 10 / span 10;
}
.col-span-11 {
    grid-column: span 11 / span 11;
}
.col-span-12 {
    grid-column: span 12 / span 12;
}
.col-span-full {
    grid-column: 1 / -1;
}
.gap-0 {
    gap: 0px;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-3 {
    gap: 0.75rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-5 {
    gap: 1.25rem;
}
.gap-6 {
    gap: 1.5rem;
}
/* Size */
.min-h-screen {
    min-height: 100vh;
}
.min-w-screen {
    min-width: 100vw;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100% !important;
}

/* Border */
.rounded-1rem {
    border-radius: 1rem;
}
